:root {
    --primary: rgb(0, 48, 93);
    --secondary: #1E88E5;
}

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}

input, button, .file {
    margin-top: 10px;
}

a {
    color: var(--secondary);
}

a:hover {
    color: var(--primary);
}

.section code {
    color: black;
}

.hero {
    background-color: var(--primary);
}

.hero .title, .hero .subtitle {
    color: white;
}

.notification {
    display: none;
    margin-top: 10px;
}

section {
    display: none;
}

.section h1 {
    margin-top: 40px !important;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary);
}

.section h2 {
    display: inline;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}

.task ul {
    list-style-type: none;
    margin-top: 0px;
    margin-left: 0px;
}

.task .n {
    font-size: 1.25em;
    font-weight: 400;
    padding: 2px 8px;
    margin-right: 10px;
}

.task .buttons {
    display: block;
    height: 50px;
}

.task .buttons button {
    float: right;
    margin-left: 10px;
    border-radius: 2px;
    font-size: 0.9em;
}

.section button.is-success {
    background-color: var(--secondary);
}

.section button.is-success:hover {
    background-color: var(--primary);
}

.task .result .error {
    color: #F92F60;
}

.task .result .output-tables {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.task .result .output-tables div {
    margin-right: 30px;
}

.task .result .output-tables div p {
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 5px;
}

.task .result .output-tables div p.warning {
    color: darkorange;
    font-weight: normal;
}

.output-tables table {
    background-color: white;
    font-size: 0.8em;
    font-weight: 400;
}

.output-tables table td {
    border-color: #dbdbdb;
    border-width: 1px !important;
    padding: 2px 5px;
}

.output-tables table td.ne {
    color: #cc0f35;
}

.last-save {
    display: table-cell;
    vertical-align: bottom;
    font-size: 0.8em;
    font-weight: 300;
    color: #999999;
    float: right;
    padding: 0 5px;
}

.collapsible.active .last-save, .collapsible:hover .last-save {
    color: white;
}

.result .icon {
    margin-left: 5px;
}

.cat {
    display: inline;
    font-weight: 500;
}

.correct {
    background-color: #48c774;
    color: white;
}

input, textarea, select {
    background-color: white;
    font-weight: 500;
    font-family: Inconsolata, Consolas, "Courier New";
    border-radius: 0;
}

.task textarea.correct, .task input.correct {
    color: forestgreen;
    border-color: forestgreen;
    background-color: #F1F8E9;
}

.task textarea {
    min-height: 75px !important;
}

#final-feedback textarea {
    margin-top: 5px;
    min-height: 48px !important;
}

.admin textarea {
    resize: none;
}

.task input {
    margin-bottom: 10px;
}

.task .tabs {
    margin-bottom: 10px;
    background-color: white;
}

.task .tabs li.is-active a {
    color: var(--secondary);
    border-bottom-color: var(--secondary);
}

.task .tab-content {
    margin-bottom: 10px;
}

.task .tab-content > div:not(.is-active) {
    display: none;
}

.collapsible {
    padding: 5px;
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    cursor: pointer;
    padding-bottom: 4px;
    line-height: 24px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.task {
    margin-bottom: 30px;
}

.collapsible.active, .collapsible:hover {
    color: white;
    background-color: var(--secondary);
}

.collapsible.active h2, .collapsible:hover h2 {
    color: white
}

.collapsible-content {
    max-height: 0;
    overflow: auto;
    overflow-y: hidden;
    background-color: #EEF6FC;
}

.task > .collapsible-content {
    transition: max-height 0.2s ease-out;
    background-color: #efefef;
    border: none;
    font-size: 0.9em;
}

.collapsible-content > div {
    padding: 10px 18px;
}

.collapsible i {
    margin-left: 20px;
    float: right;
    position: relative;
    top: 4px;
}

.feedback input, .feedback select {
    display: inline;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    margin: 0 10px;
    width: auto;
    border-color: #dbdbdb;
}

.feedback .collapsible-content > div {
    padding: 5px 15px;
}

.feedback span, .feedback span {
    vertical-align: sub;
}

.correct-per-task {
    font-size: 0.8em;
    font-weight: 400;
    margin-left: 10px;
}

#versions {
    float: right;
    color: white;
    font-size: 0.7em;
}

#versions span {
    display: block;
    text-align: right;
}

#pageloader {
    background-color: var(--primary);
}

#pageloader .title {
    letter-spacing: normal;
}

#user-list {
    list-style-type: none;
    margin-left: 0;
}

#user-list li {
    background-color: #f5f5f5;
}

#user-list li a:hover {
    background-color: #eeeeee;
}

#demo-user {
    display: none;
    margin-top: 30px;
}

[data-tooltip] {
    position: relative;
    text-decoration: underline 1px dashed silver;
    text-underline-offset: 3px;
}

[data-tooltip]:after, [data-tooltip]:before {
    position: absolute;
    display: none;
    opacity: 0.9;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    font-size: 0.8em;
    left: -20px;
    top: -36px;
    color: white;
    background-color: #333333;
    padding: 6px 12px;
    border-radius: 2px;
    white-space: nowrap;
}

[data-tooltip]:before {
    content: "";
    left: 10px;
    top: -5px;
    border-top: 8px solid #333333;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

[data-tooltip]:hover:after, [data-tooltip]:hover:before {
    display: inline;
}